nav ul{
    list-style-type: none;
}
header{
    --pad: 1em;
    padding: var(--pad) 0;
    justify-content: space-between;
}
header a, .logo{
    color: var(--white);
    padding: calc(var(--pad) / 2) var(--pad);
    text-decoration: none;
}
header a:hover{
    color: var(--accent-color);
}
.logo{
    display: block;
    height: 40px;
}