.top-rated{
    overflow: auto;
}

.top-rated .list_item{
    min-width: 200px;
    position: relative;
}

.top-rated .rating{
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--bg-color);
}
