.hero{
    !background: url("../../public/logo512.png");
    position: relative;

}

    /* .hero::before{
        position: absolute;
        content: "";
        width: 100%;
        height: 100vw;
        z-index: 0;
        background-image: radial-gradient(closest-corner at 60% 55%, transparent 40%, var(--bg-color) 90%);
        left: 0;
        top: 0;
    } */