
.plan{
    padding: 2em 2em;
    align-items: center;
    flex: 1;
}

.price h3{
    color: var(--accent-color);
    line-height: 1em;
}
.price{
    align-items: flex-end;
}

.plan li::marker{
    color: var(--accent-color);
}