@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --main-color: #df3a3a;
    --accent-color: #e25050;
    --bg-color: #1a202f;
    --bg-light: #1f2638;
    --white: #e6e6e6;
    --black: #1f1f1f;
    /* --header-height: 72px; */
}

body{
    font-family: "Inter", sans-serif;
    background-color: var(--bg-color);
    color: var(--white);
    /* font-weight: 200; */
}
/* 
.flex{
    display: flex;
}
.col{
    flex-direction: column;
}

.gap-0{
    gap: .75rem;
}
.gap-1{
    gap: 1rem;
}
.gap-2{
    gap: 2rem;
}
.spacer-0{
    margin-bottom: .5rem;
}
.spacer-1{
    margin-bottom: 1rem;
}
.spacer-2{
    margin-bottom: 3rem;
}
.spacer-3{
    margin-bottom: 5rem;
}

.text-lg{
    font-size: 1.5rem;
}
.text-md{
    font-size: 1.25rem;
}
.text{
    font-size: 1rem;
}
.text-sm{
    font-size: 0.875rem;
}

.max-width{
    max-width: 1100px;
    width: 100%;
    margin: auto;
}

h1{
    font-size: clamp(1.25rem, 6vw, 60px);
}

h2{
    font-size: clamp(1.125rem, 5vw, 50px);
}

h3{
    font-size: clamp(1.125rem, 4vw, 42px);
}

h4{
    font-size: clamp(1rem, 3vw, 18px);
}

hr{
    width: 100%;
    border: 0;
    border-top: 1px solid var(--white);
}
img{
    display: block;
    width: 100%;
}

section{
    min-height: 100vh;
    padding: 1rem;
    justify-content: center;
}
a{
    color: var(--white);
}

.loader{
    width: 100%;
    flex: 1;
    min-height: 200px;
}

.label{
    display: inline-block;
    padding: 0.3em .8em;
    background-color: var(--black);
}

.rounded{
    border-radius: 1rem;
}

.bg{
    background-color: var(--bg-color);
}

.glow{
    -webkit-box-shadow:0px 0px 23px 3px rgba(164,172,242,0.1);
    -moz-box-shadow: 0px 0px 23px 3px rgba(164,172,242,0.1);
    box-shadow: 0px 0px 23px 3px rgba(164,172,242,0.1);
}

.bg-light{
    background-color: var(--bg-light);
}

.glass-reflection{
    background: linear-gradient(127deg, 
    var(--bg-color) 20%, 
    var(--bg-light) 20%, 
    var(--bg-light) 40%, 
    var(--bg-color) 40%, 
    var(--bg-color) 60%, 
    var(--bg-light) 60%,
    var(--bg-light) 80%,
    var(--bg-color) 80% 
    );
}

.btn{
    cursor: pointer;
    display: block;
    text-decoration: none;
    padding: .8em 1.6em;
    border: 2px solid var(--accent-color);
    font-weight: 500;
}

.secondary_btn{
    color: var(--accent-color);
    background-color: var(--bg-color);
}
.main_btn{
    color: var(--white);
    background-color: var(--accent-color);
} */

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
   
::-webkit-scrollbar-track {
    background-color: var(--bg-light);
}
   
::-webkit-scrollbar-thumb {
    background-color: var(--accent-color);
    border-radius: 4px;
}